@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.1rem;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
