.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1c28;
  color: white;
}
/* Light Blue Section */
.lightblue {
  background: #595e7d;
  width: 100%;
  padding: 100px;
}
.lightblue p {
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 20px;
}
.lightblue, .main h1 {
  text-align: center;
}
.lightblue a {
  color: #e4cad3;
  border-bottom: 1px dotted #fd035d;
}
.lightblue a:hover {
  color: #fd035d;
}
.lightblue strong {
  background-color: #fd035d;
}
.lightblue ol {
  padding: 0px;
  margin-bottom: 10px;
  text-align: left;
}
/* Main section */
.main {
  width: 100%;
  padding: 100px;
}
.main p {
   text-align: justify;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    padding-bottom: 20px;
}
.main a {
  color: #d8acbc;
  border-bottom: 1px dotted #fd035d;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imagelink a {
    border-bottom: none;

}
.main a:hover {
  color: #fd035d;
}
.main strong {
  background-color: #fd035d;
}
.icon {
  width: 40%;
}
.icon a {
  border-bottom: none;
}
.discord {
  width: 50%;
}
.main h2 {
color: #fd035d;
text-decoration: underline;
}

.main blockquote{
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #FFF;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #fd035d ;
  line-height:1.6;
  position: relative;
  background:#595e7d;
}
.main blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#fd035d;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.main blockquote::after{
  content: '';
}

.main blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.community p {
  text-align: center;
}

/* Extra styles */
.smalltext {
    color: grey;
    font-size: 10pt;
}
.back a{
    background: #fd035d;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.back a:hover {
    background: #d8acbc;
}
