.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1c28;
  color: white;
}
.lightblue {
  background: #595e7d;
  width: 100%;
  padding: 100px;
}
.lightblue p {
    text-align: justify;
}
.lightblue, .main h1 {
  text-align: center;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  padding: 100px;
}
.main a {
  color: #d8acbc;
  border-bottom: 1px dotted #fd035d;
}
.imagelink a {
    border-bottom: none;
}
.main a:hover {
  color: #fd035d;
}
.main strong {
  background-color: #fd035d;
}
.lightblue a {
  color: #e4cad3;
  border-bottom: 1px dotted #fd035d;
}
.lightblue a:hover {
  color: #fd035d;
}
.lightblue strong {
  background-color: #fd035d;
}
.lightblue ol {
  padding: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.icon {
  width: 60%;
}
.icon a {
  border-bottom: none;
}
.discord {
  width: 100%;
}

.main h2 {
color: #fd035d;
text-decoration: underline;
}
.smalltext {
    color: grey;
    font-size: 10pt;
}
.back a{
    background: #fd035d;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.back a:hover {
    background: #d8acbc;
}

